{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            Social Messages
        {% endblock title %}
    </title>
    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->

    <!-- Optional theme -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">

    <script src="https://use.fontawesome.com/a04d9e4c1c.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'tweet_messages/styles.css' %}" />
</head>
<body>
<!-- No header, and the drawer stays open on larger screens (fixed drawer). -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Social Messages</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="{% url 'tweet_messages:index' %}">Home</a>
    {% if request.user.is_authenticated %}
      <a class="mdl-navigation__link" href="{% url 'tweet_messages:user_list' %}">Users</a>
      <a class="mdl-navigation__link" href="{% url 'tweet_messages:create_message' %}">Create Post</a>
      <a class="mdl-navigation__link" href="{% url 'tweet_messages:user_page' request.user.pk %}">My Posts</a>
      <a class="mdl-navigation__link" href="{% url 'tweet_messages:logout' %}">Logout</a>
    {% else %}
      <a class="mdl-navigation__link" href="{% url 'tweet_messages:register' %}">Sign Up</a>
      <a class="mdl-navigation__link" href="{% url 'tweet_messages:login' %}">Login</a>
    {% endif %}
    </nav>
  </div>
<!-- End Menu -->
  <main class="mdl-layout__content">
    <div class="page-content">
    <!-- Your content goes here -->
 
<!-- Main Content -->
    <div class="container">
     <div class="{% block content_classes %}main-content{% endblock content_classes %}">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}

        {% endblock %}
      </div>
    </div>

<!-- End Main Content -->
    </div>
  </main>

<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
  </div>
  <div class="mdl-mini-footer__right-section">
    <ul class="mdl-mini-footer__link-list">
      <li><a href="">&copy; Gary | 2016</a></li>
    </ul>
  </div>
</footer>

</div> <!-- Closes Content Div -->

    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    <!-- <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script> -->
    <!-- Latest compiled and minified JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
</body>
</html>