{% extends 'tweet_messages/base.html' %}
{% load staticfiles %}
{% load gravatar_tags %}

{% block title %}
  {{ block.super }} - Home
{% endblock %}

{% block content_classes %}
    {{block.super}} index-content
{% endblock content_classes %}

{% block content %}

 {% if request.user.is_authenticated %}
 <!-- <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="alert alert-info" role="alert">
      Hi {{request.user}}, let's chat.
      </div>
    </div>
  </div> -->
 {% endif %}

<div class="mdl-grid">
  <!-- <div class="mdl-cell"> -->
  
  {% for tweet in tweets %}
      <!-- start card -->
    <div class="mdl-cell mdl-cell--6-col">

       <div class="mdl-card mdl-shadow--4dp">
        <div class="mdl-card__media">
          <div class="profile-pic">
            <img src="{{ tweet.user|gravatar:100 }}" />
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <p>{{tweet.user}}</p>
            <small>{{tweet.date}}</small>
          </div>
        </div>
        <div class="mdl-card__supporting-text">
        {{tweet}}
        </div>
      </div>
    </div>

      <!-- end card -->
  {% endfor %}
  <!-- </div> -->
</div>

{% endblock %}
