{% extends 'tweet_messages/base.html' %}
{% load staticfiles %}

{% block title %}
  {{ block.super }} - Home
{% endblock %}

{% block content_classes %}
    {{block.super}} index-content
{% endblock content_classes %}

{% block content %}

  <div class="row">
    <div class="col-md-12">
      <h2>{{tweeter}}</h2>
    </div>
  </div>
  {% for message in tweets %}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{message}}</h3>
          </div>
          <div class="panel-body">
            ....
            <a href="">
            </a>
          </div>
        </div>
    </div>
  </div>
  {% endfor %}



{% endblock %}
