{% extends 'tweet_messages/base.html' %}
{% load staticfiles %}

{% block title %}
  {{ block.super }} - Home
{% endblock %}

{% block content_classes %}
    {{block.super}} index-content
{% endblock content_classes %}

{% block content %}

<h2>{{tweeter}}</h2>

<div class="mdl-grid user-page">

{% for message in tweets %}
<!-- start card -->
  <div class="mdl-cell mdl-cell--4-col">

     <div class="mdl-card mdl-shadow--4dp">
      <div class="mdl-card__media">
        <div>
          <i class="fa fa-commenting" aria-hidden="true"></i> |
          <small>{{message.date}}</small>
        </div>
      </div>
      <div class="mdl-card__supporting-text">
      {{message}}
      </div>
    </div>
  </div>

<!-- end card -->
{% endfor %}

</div>

{% endblock %}
