{% extends 'tweet_messages/base.html' %}
{% load staticfiles %}
{% load gravatar_tags %}

{% block title %}
  {{ block.super }} - Home
{% endblock %}

{% block content_classes %}
    {{block.super}} index-content
{% endblock content_classes %}

{% block content %}

<!-- List items with avatar and action -->
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col"></div>
  <div class="mdl-cell mdl-cell--8-col">
    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--4dp">
      <tbody>
      
      {% for x in user_list %}
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            <div class="profile-pic">
              <img src="{{ x|gravatar:100 }}" />
            </div>
          </td>
          <td class="mdl-data-table__cell--non-numeric">
            <h5>{{x.get_username}}</h5>
          </td>
          <td class="mdl-data-table__cell--non-numeric">
            <a href="{% url 'tweet_messages:user_page' x.pk %}">... see all {{x.get_username}} tweets</a>
          </td>
        </tr>
      {% endfor %}

      </tbody>
    </table>
  </div>
  <div class="mdl-cell mdl-cell--2-col"></div>
</div>

{% endblock %}
